.image {
  position: relative;
  overflow: hidden;
  height: 500px;
}

@media (max-width: 1200px) {
  .image {
    height: 350px;
  }
}

@media (max-width: 800px) {
  .image {
    height: 275px;
  }
}

@media (max-width: 500px) {
  .image {
    height: 150px;
  }
}
